<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="google-site-verification" content="kCT200-J0rfczENRkJQdYCqsDKkUo3Hvr3KZic_otwU" />

    <title>
        Medicine - Inventory
    </title>

    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
    <link href="https://appsrv1-147a1.kxcdn.com/sb-admin/css/styles.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>

    <!-- Specific Page CSS goes HERE  -->
    

</head>
<body class="sb-nav-fixed">
        
    
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3" href="/">Hospital Management</a>
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
        </nav>

    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">

            
<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
        <div class="nav">


            <a class="nav-link   " href="/">
                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt fa-lg"></i></div>
                Dashboard
            </a>

            <a class="nav-link " href="/patients">
                <div class="sb-nav-link-icon"><i class="fas fa-user fa-lg"></i></div>
                &nbsp;Patients
            </a>
            
            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                <div class="sb-nav-link-icon"><i class="fas fa-users fa-lg"></i></div>
                Employee
                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>
            <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                <nav class="sb-sidenav-menu-nested nav">
                    <a class="nav-link" href="/doctors">Doctors</a>
                    <a class="nav-link" href="/nurse">Nurse</a>
                </nav>
            </div>

            <a class="nav-link " href="/rooms">
                <div class="sb-nav-link-icon"><i class="fas fa-bed fa-lg"></i></div>
                Rooms
            </a>
            <a class="nav-link " href="/surgeries">
                <div class="sb-nav-link-icon"><i class="fas fa-star-of-life fa-lg"></i></div>
                &nbsp;Surgeries
            </a>
            <a class="nav-link active" href="/medicine">
                <div class="sb-nav-link-icon"><i class="fas fa-capsules fa-lg"></i></div>
                Medicine
            </a>

            <a class="nav-link " href="/departments">
                <div class="sb-nav-link-icon"><i class="fas fa-hotel fa-lg"></i></div>
                Departments
            </a>
        </div>
    </div>
    <div class="sb-sidenav-footer">
        <div class="small">Logged in as:</div>
        admin
    </div>
</nav>
            
        </div>
        <div id="layoutSidenav_content">
        
            

    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Medicine - Inventory</h1>
            <button type="button" class="btn btn-success float-end" data-bs-toggle="modal" data-bs-target="#createModal">Add Medicine</button>
            <div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="createModalLabel">Add Medicine</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <!-- Your form content here for creating a new Medicine -->
                            <form action="/add_medicine" method="POST">
                                <!-- Form fields for creating a new Medicine -->
                                <div class="mb-3">
                                    <label for="NDC" class="form-label">NDC</label>
                                    <input type="text" class="form-control" id="NDC" name="NDC" placeholder="Enter NDC" required>
                                </div>
                                <div class="mb-3">
                                    <label for="name" class="form-label">Name</label>
                                    <input type="text" class="form-control" id="name" name="name" placeholder="Enter drug name" required>
                                </div>
                                <div class="mb-3">
                                    <label for="count" class="form-label">Count</label>
                                    <input type="text" class="form-control" id="count" name="count" placeholder="Enter amount" required>
                                </div>
                                
                            <button type="submit" class="btn btn-primary float-start">Add Medicine</button>
                            </form>
                        </div>


                    </div>
                </div>
            </div>

            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                <li class="breadcrumb-item active">Medicine</li>
                
                
            </ol>
            
            <div class="card mb-4">
                
                <div class="card-body">
                    <table id="datatablesSimple">
                        <thead>
                            <tr>
                                <th>NDC</th>
                                <th>Drug Name</th>
                                <th>Count</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>NDC</th>
                                <th>Drug Name</th>
                                <th>Count</th>
                                <th>Actions</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            {% for med in med %}
                            <tr>
                                <td>{{ med.NDC }}</td>
                                <td>{{ med.name }}</td>
                                <td>{{ med.count }}</td>
                                <td>
                                    
                                    <a href="/medicine/{{ med.NDC }}/edit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editModal{{ med.NDC }}">
                                        Edit
                                    </a>
                                    <!-- Edit medicine Modal -->
                                    <div class="modal fade" id="editModal{{ med.NDC }}" tabindex="-1" aria-labelledby="editModalLabel{{ med.NDC }}" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="editModalLabel{{ med.NDC }}">Edit Medicine</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <!-- Your form content here -->
                                                    <form action="/medicine/{{ med.NDC }}/edit" method="POST">
                                                        <div class="mb-3">
                                                            <label for="name" class="form-label">Drug name</label>
                                                            <input type="text" class="form-control" id="name" name="name" value="{{ med.name }}">
                                                        </div>
                                                        <div class="mb-3">
                                                            <label for="count" class="form-label">Count</label>
                                                            <input type="text" class="form-control" id="count" name="count" value="{{ med.count }}">
                                                        </div>
                                                        
                                                        <!-- Add additional form fields or content here -->
                                                        <button type="submit" class="btn btn-primary">Save Changes</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <a href="/medicine/{{ med.NDC }}/delete" class="btn btn-danger delete-btn">Delete</a>
                                    
                                </td>
                            </tr>
                            {% endfor %}
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>



            
    
            
        </div>
    </div>

    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="https://appsrv1-147a1.kxcdn.com/sb-admin/js/scripts.js"></script>

 

    <!-- Specific Page JS goes HERE  -->
    

    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
    <script src="https://appsrv1-147a1.kxcdn.com/sb-admin/js/datatables-simple-demo.js"></script>


        
</body>
</html>